<md-toolbar color="primary">
  <span>Paramedicos</span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/paramedicos">
    <md-icon>home</md-icon>
    <span>Registrar</span>
  </button>
  </md-menu>
  <span>Emergencias</span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu1">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu1="mdMenu">
    <button md-menu-item routerLink="/emergencias">
    <md-icon>home</md-icon>
    <span>Registrar</span>
  </button>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>
