.container-table-material .layout-table-material {
  padding: 24px 32px;
}

.container-table-material .layout-table-material .table {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  border-radius: 0 0 3px 3px;
}
.container-table-material .layout-table-material .table .table-header {
  display: flex;
  background: #1D2939;
}
.container-table-material .layout-table-material .table .table-header .t-head {
  width: calc(100% / 4);
  padding: 16px 8px;
  text-align: center;
}
.container-table-material .layout-table-material .table .table-header .t-head span{
  color: #ffffff;
}
.container-table-material .layout-table-material .table .table-body .row-unit {
  display: flex;
  border-bottom: 1px solid #1D2939;
}
.container-table-material .layout-table-material .table .table-body .row-unit .t-body {
  width: calc(100% / 4);
  padding: 16px 8px;
  text-align: center;
}
.container-table-material .layout-table-material .table .table-body .row-unit .actions .container-icons {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.container-table-material .layout-table-material .table .table-body .row-unit .actions .container-icons img{
  width: 100%;
  height: 100%;
}
.container-table-material .layout-table-material .table .table-body .row-unit .t-body:first-child {
  cursor: pointer;
}
