<div class="container-table-material">
  <div class="title-table-material">
    <h2>Emergencias</h2>
  </div>
  <div class="layout-table-material">
    <div class="layout-sort-by">
      <div class="container-sort">
        <select name="" id="">
          <option value="">Sort by</option>
        </select>
      </div>
      <div class="container-button">
        <button [routerLink]="['/emergencias']">Nueva emergencia</button>
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="t-head">
          <span>
            Fecha
          </span>
        </div>
        <div class="t-head">
          <span>
            Tipo Accidente
          </span>
        </div>
        <div class="t-head">
          <span>
            Ambulancia
          </span>
        </div>
        <div class="t-head">
          <span>
            Paramedico
          </span>
        </div>
        <div class="t-head">
          <span>
            Accion
          </span>
        </div>
      </div>
      <div class="table-body">
        <div class="row-unit" *ngFor="let emergency of emergencies; let i = index">
          <div class="t-body" (click)="openModal(emergency)">
            <span>{{emergency.date}}</span>
          </div>
          <div class="t-body">
            <span>{{emergency.type_emergency}}</span>
          </div>
          <div class="t-body">
            <span>{{emergency.ambulance.car_plate}} - {{emergency.ambulance.car}}</span>
          </div>
          <div class="t-body">
            <span>{{emergency.paramedic[0].name}} - {{emergency.paramedic[0].lastname}}</span>
          </div>
          <div class="t-body actions">
            <figure class="container-icons" (click)="delete(emergency)">
              <img src="assets/images/icons/delete_icon.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

