<div class="container-form-rawmaterial">
  <div class="layout-form-rawmaterial">
    <div class="title-form-rawmaterial">
      <h2>Registro Ambulancia</h2>
    </div>
    <div class="form-rawmaterial">
      <form [formGroup]="formAmbulance">
        <div class="container-inputs">
          <div class="layout-input">
            <div class="container-input">
              <label for="car">
                *Marca
                <input type="text" name="car" id="car" formControlName="car">
              </label>
            </div>
            <div class="container-input">
              <label for="car_plate">
                *Placa
                <input type="text" name="car_plate" id="car_plate" formControlName="car_plate">
              </label>
            </div>
          </div>
          <div class="layout-input">
            <div class="container-input">
              <label for="type_ambulance">
                *Tipo de Ambulancia
                <input type="text" name="type_ambulance" id="type_ambulance" formControlName="type_ambulance">
              </label>
            </div>
            <div class="container-input">
              <label for="available">
                *Disponible
                <input type="checkbox" name="available" id="available" formControlName="available">
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-buttons">
      <button class="button" (click)="saveAmbulance()">Guardar Ambulancia</button>
      <button class="button" [routerLink]="['/menu/compras/tablamateriaprima']">Listado</button>
      <button class="button">Cancelar</button>
  </div>
</div>



